@import url('normalize.css');
@import url('reset.css');
@import url('https://cdn.rawgit.com/singihae/Webfonts/master/style.css');

::-webkit-scrollbar {
  display:none;
}
.body{
  font-family:'BM JUA','배달의민족 주아',sans-serif;
}

.series{
  position: relative;
  background-color: black;
}
.item {
  width: 100%;
}
.slide{
  margin-top: 2%;
  width: 35%;
  box-shadow: 0px 0px 35px white;
}
.hide-bullets{
    position: absolute;
    top: 2%;
    right: 3%;
    display: flex;
    width: 58%;
    justify-content: space-around;
    list-style:none;
}
.hide-bullets2{
    position: absolute;
    top: 26.5%;
    right: 3%;
    display: flex;
    width: 58%;
    justify-content: space-around;
    list-style:none;
}
.hide-bullets3{
    position: absolute;
    top: 51%;
    right: 3%;
    display: flex;
    width: 58%;
    justify-content: space-around;
    list-style:none;
}
.hide-bullets4{
    position: absolute;
    top: 75.5%;
    right: 3%;
    display: flex;
    width: 58%;
    justify-content: space-around;
    list-style:none;
}


/* 성진꺼 */


.main {
  background: #000;
  text-align: center;
}

.main-avengers {
  display: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.captain_icon {
  display: none;
  position: absolute;
  width: 10%;
  cursor: pointer;
}

.hawk_icon {
  display: none;
  position: absolute;
  width: 11%;
  cursor: pointer;
}

.hulk_icon {
  display: none;
  position: absolute;
  width: 23%;
  right: 5%;
  cursor: pointer;
}

.iron_icon {
  display: none;
  position: absolute;
  width: 10%;
  left: 38%;
  cursor: pointer;

}

.thor_icon {
  display: none;
  position: absolute;
  width: 15%;
  cursor: pointer;
}

.widow_icon {
  display: none;
  position: absolute;
  width: 10%;
  top: 59%;
  right: 39%;
  cursor: pointer;
  opacity: 0;
}
/* 
.popup{
  display: none;
  position: fixed;
  padding: 10px;
  width: 100%;
  height: 65%;
  bottom: 0;
  background: #FFF;
  z-index: 20;
  text-align: center;
  font-size: 1.6em;
}
.popup p{
  font-size: 4em;
}


#popup1 {
  -webkit-box-shadow:  0px 0px 0px 9999px rgba(0, 0, 0, 0.5);
  box-shadow:  0px 0px 0px 9999px rgba(0, 0, 0, 0.5);
} */


.series {

}
