@import url('normalize.css');
@import url('reset.css');

::-webkit-scrollbar {
  display:none;
}

.thumbnail{
  display: block;
  padding: 4px;
  background-color: black;
  border: 5px solid black;
  border-radius: 4px;
  transition: border .2s ease-in-out;
}
.series{
  position: relative;
  background-color: black;
}
.item {
  width: 100%;
}
.slide{
  margin-top: 15px;
  width: 450px;
}
.slidetext{
  position: absolute;
  bottom:  10%;
  left: 10%;
  color: white;
  text-align: center;
}


.hide-bullets{
    position: absolute;
    top: 5px;
    right: 50px;
    display: flex;
    width: 800px;
    justify-content: space-around;
    list-style:none;
    margin-left: -40px;
    
}
.hide-bullets2{
    position: absolute;
    top: 165px;
    right: 50px;
    display: flex;
    width: 800px;
    justify-content: space-around;
    list-style:none;
    margin-left: -40px;
}
.hide-bullets3{
    position: absolute;
    top: 325px;
    right: 50px;
    display: flex;
    width: 800px;
    justify-content: space-around;
    list-style:none;
    margin-left: -40px;
}
.hide-bullets4{
    position: absolute;
    top: 485px;
    right: 50px;
    display: flex;
    width: 800px;
    justify-content: space-around;
    list-style:none;
    margin-left: -40px;
}

/* 성진꺼 */

.main {
  background: #000;
  text-align: center;
}

.main-avengers {
  display: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.captain_icon {
  display: none;
  position: absolute;
  width: 10%;
  cursor: pointer;
}

.hawk_icon {
  display: none;
  position: absolute;
  width: 11%;
  cursor: pointer;
}

.hulk_icon {
  display: none;
  position: absolute;
  width: 23%;
  right: 5%;
  cursor: pointer;
}

.iron_icon {
  display: none;
  position: absolute;
  width: 10%;
  left: 38%;
  cursor: pointer;

}

.thor_icon {
  display: none;
  position: absolute;
  width: 15%;
  cursor: pointer;
}

.widow_icon {
  display: none;
  position: absolute;
  width: 10%;
  top: 59%;
  right: 39%;
  cursor: pointer;
  opacity: 0;
}

.captain {

}

.iron {

}

.thor {

}

.hulk {

}

.hwak {

}

.widow {

}

.series {

}
